<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.myhouse.mapper.BoardMapper">

    <insert id="writeArticle" parameterType="Board">
        insert into announcement ( title, member_id, content, hit, regtime)
        values (#{title}, #{memberid},#{content}, 0, now())
    </insert>

    <select id="listArticle" parameterType="map" resultType="Board">
        select announcementid, member_id memberid,m.userId, title, content, hit,
        case when date_format(regtime, '%Y%m%d') = date_format(now(), '%Y%m%d')
        then date_format(regtime, '%H:%i:%s')
        else date_format(regtime, '%y.%m.%d')
        end regtime
        from announcement a inner join member m on m.id = a.member_id
        <if test="word != null and word != ''">
            <if test="key == 'title'">
                where title like concat('%', #{word}, '%')
            </if>
            <if test="key != 'title'">
                where ${key} = #{word}
            </if>
        </if>
        order by announcementid desc
        limit #{start}, #{spp}
    </select>

    <select id="getTotalCount" parameterType="map" resultType="int">
        select count(announcementid)
        from announcement
        <if test="word != null and word != ''">
            <if test="key == 'title'">
                where title like concat('%', #{word}, '%')
            </if>
            <if test="key != 'title'">
                where ${key} = #{word}
            </if>
        </if>
    </select>

    <select id="getArticle" parameterType="int" resultType="Board">
        select announcementid, member_id memberid, m.userId, title, content, hit, regtime
        from announcement a inner join member m on m.id = a.member_id
        where announcementid = #{announcementid}
    </select>

    <update id="updateHit" parameterType="int">
        update announcement
        set hit = hit + 1
        where announcementid = #{announcementid}
    </update>

    <update id="modifyArticle" parameterType="Board">
        update announcement
        set title = #{title}, content = #{content}
        where announcementid = #{announcementid}
    </update>

    <delete id="deleteArticle" parameterType="int">
        delete from announcement
        where announcementid = #{announcementid}
    </delete>

    <!-- free board mapper -->

    <insert id="freeWriteArticle" parameterType="Board">
        insert into freeboard ( title, member_id, content, hit, regtime)
        values (#{title}, #{memberid},#{content}, 0, now())
    </insert>

    <select id="freeListArticle" parameterType="map" resultType="Board">
        select boardid, userId,f.member_id memberid, title, content, hit,
        case when date_format(regtime, '%Y%m%d') = date_format(now(), '%Y%m%d')
        then date_format(regtime, '%H:%i:%s')
        else date_format(regtime, '%y.%m.%d')
        end regtime
        from freeboard f inner join member m
        on f.member_id = m.id
        <if test="word != null and word != ''">
            <if test="key == 'title'">
                where title like concat('%', #{word}, '%')
            </if>
            <if test="key != 'title'">
                where ${key} = #{word}
            </if>
        </if>
        order by boardid desc
        limit #{start}, #{spp}
    </select>

    <select id="freeGetTotalCount" parameterType="map" resultType="int">
        select count(boardid)
        from freeboard
        <if test="word != null and word != ''">
            <if test="key == 'title'">
                where title like concat('%', #{word}, '%')
            </if>
            <if test="key != 'title'">
                where ${key} = #{word}
            </if>
        </if>
    </select>

    <select id="freeGetArticle" parameterType="int" resultType="Board">
        select boardid, userId, member_id memberid, title, content, hit, regtime
        from freeboard f inner join member m
        on f.member_id = m.id
        where boardid = #{boardid}
    </select>

    <update id="freeUpdateHit" parameterType="int">
        update announcement
        set hit = hit + 1
        where announcementid = #{announcementid}
    </update>

    <update id="freeModifyArticle" parameterType="Board">
        update freeboard
        set title = #{title}, content = #{content}
        where boardid = #{boardid}
    </update>

    <delete id="freeDeleteArticle" parameterType="int">
        delete from freeboard
        where boardid = #{boardid}
    </delete>
</mapper>
