<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.myhouse.mapper.ReviewMapper">

    <select id="selectAllReview" resultType="Review">
        select review_id reviewId, r.member_id memberId,name,aptCode, content, date_format(created_date,'%Y-%m-%d') createdDate, likes,residenceFloor,residenceType,residenceYear,stars,ulikes
        from review r
        inner join member m
        on r.member_id = m.id
        where aptCode=#{aptCode}
        order by createdDate desc;
    </select>

    <insert id="insert" parameterType="Review">
        insert into review
        values(null,#{memberId},#{aptCode},#{residenceType},#{residenceYear},#{residenceFloor},#{content},#{stars},0,0,sysdate());
    </insert>

    <delete id="delete" parameterType="Review">
        delete from review
        where review_id=#{reviewId};
    </delete>

    <update id="update" parameterType="Review">
        update review set residenceType=#{residenceType},
                          residenceYear=#{residenceYear},
                          residenceFloor=#{residenceFloor},
                          content=#{content},
                          stars=#{stars}
        where review_id=#{reviewId};
    </update>
</mapper>
