<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springbootmvccustomer.mapper.CustomerMapper">
    <select id="selectAll" resultType="Customer">
        select *
        from customer
        order by num desc
    </select>
    <select id="selectOne" parameterType="int" resultType="Customer">
        select *
        from customer
        where num = ${num}
    </select>

    <insert id="insert" parameterType="Customer">
        insert into customer values(${num},#{name},#{address})
    </insert>
    <delete id="delete" parameterType="int">
        delete from customer where num = ${num}
    </delete>

    <update id="update" parameterType="Customer">
        update customer set name = #{name} , address = #{address} where num = ${num}
    </update>

    <select id="findByAddress" parameterType="string" resultType="Customer">
        select * from customer
        <if test="address !=null">
            where address like concat('%',#{address},'%')
        </if>
    </select>
</mapper>
