<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.myhouse.mapper.HouseMapper">
    <select id="selectAll" resultType="HouseDto">
        select round(avg(replace(hd.dealAmount,',','')),-3) as dealAmount, round(avg(hd.area),2) as area, max(hd.floor) as floor, hd.aptCode, tmp.lat, tmp.lng, tmp.apartmentName, tmp.address
        from housedeal hd inner join (SELECT hi.aptCode, hi.apartmentName, concat(sidoName,' ',gugunName,' ',dong,' ',roadName,' ',jibun) address, lng, lat
                                      FROM houseinfo hi
                                               INNER JOIN dongcode dc ON hi.dongCode = dc.dongCode)
            tmp on hd.aptCode = tmp.aptCode
        group by hd.aptCode;
    </select>
    
    <select id="searchByAddress" resultType="HouseDto" parameterType="Address">
        select round(avg(replace(hd.dealAmount,',','')),-3) as dealAmount, round(avg(hd.area),2) as area, max(hd.floor) as floor, hd.aptCode, tmp.lat, tmp.lng, tmp.apartmentName, tmp.address
        from housedeal hd inner join (SELECT hi.aptCode, hi.apartmentName, concat(sidoName,' ',gugunName,' ',dong,' ',roadName,' ',jibun) address, lng, lat
                                      FROM houseinfo hi
                                               INNER JOIN dongcode dc ON hi.dongCode = dc.dongCode
                                      WHERE dc.sidoName = #{sidoName} AND dc.gugunName = #{gugunName} AND dc.dongName = #{dongName})
            tmp on hd.aptCode = tmp.aptCode
        group by hd.aptCode;
    </select>

    <select id="searchByDong" resultType="HouseDto" parameterType="string">
        select round(avg(replace(hd.dealAmount,',','')),-3) as dealAmount, round(avg(hd.area),2) as area, max(hd.floor) as floor, hd.aptCode, tmp.lat, tmp.lng, tmp.apartmentName, tmp.address
        from housedeal hd inner join (SELECT hi.aptCode, hi.apartmentName, concat(sidoName,' ',gugunName,' ',dong,' ',roadName,' ',jibun) address, lng, lat
                                      FROM houseinfo hi
                                               INNER JOIN dongcode dc ON hi.dongCode = dc.dongCode
                                      WHERE dc.dongName like concat('%',#{dong},'%'))
            tmp on hd.aptCode = tmp.aptCode
        group by hd.aptCode;
    </select>

    <select id="selectOne" resultType="House">
        select *
        from housedeal
        where no=#{no}
    </select>

    <select id="selectAllReview" resultType="Review">
        select *
        from review
        where aptCode=#{aptCode}
    </select>

    <insert id="insert" parameterType="Review">
        insert into review
        values(null,#{id},#{aptCode},#{residenceType},#{residenceYear},#{residenceFloor},#{content},#{stars},#{likes},#{ulikes},sysdate());
    </insert>

    <delete id="delete" parameterType="Review">
        delete from review
        where review_id=#{reviewId};
    </delete>

    <update id="update" parameterType="Review">
        update review set residenceType=#{residenceType},
                          residenceYear=#{residenceYear},
                          residenceFloor=#{residenceFloor},
                          content=#{content},
                          stars=#{stars}
        where review_id=#{reviewId};
    </update>

<!--    <select id="existsInterestByUserIdAndAptCode" parameterMap="map" resultType="boolean">-->
<!--        select if(count(*)=1,1,0)-->
<!--        from user_houseinfo-->
<!--        where member_id=#{id} and houseinfo_aptcode = #{aptCode}-->
<!--    </select>-->

<!--    <update id="updateInterest" parameterMap="map">-->
<!--        update user_houseinfo-->
<!--        set flag = !flag-->
<!--        where member_id=#{id} and houseinfo_aptcode = #{aptCode}-->
<!--    </update>-->

<!--    <insert id="join" parameterMap="map">-->
<!--        insert into user_houseinfo values(#{id},#{aptCode},true);-->
<!--    </insert>-->

</mapper>
