<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.myhouse.mapper.ReviewMapper">

    <select id="selectAllReview" resultType="Review">
        select *
        from review
        where aptCode=#{aptCode}
    </select>

    <insert id="insert" parameterType="Review">
        insert into review
        values(null,#{id},#{aptCode},#{residenceType},#{residenceYear},#{residenceFloor},#{content},#{stars},#{likes},#{ulikes},sysdate());
    </insert>

    <delete id="delete" parameterType="Review">
        delete from review
        where review_id=#{reviewId};
    </delete>

    <update id="update" parameterType="Review">
        update review set residenceType=#{residenceType},
                          residenceYear=#{residenceYear},
                          residenceFloor=#{residenceFloor},
                          content=#{content},
                          stars=#{stars}
        where review_id=#{reviewId};
    </update>
</mapper>
